<section>
    <nav>
        <ul class="links">
            <li><a href="#">contact</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">feedback</a></li>
        </ul>
        <div>Free Standard Shipping On Orders $100+</div>
        <ul class="inline-list">
            <li><a href="#">
                    <fa-icon [icon]="faUser"></fa-icon>sign in
                </a></li>
            <li><a href="#">ship to</a>
                <ul>
                    <li>USA</li>
                    <li>UK</li>
                    <li>EG</li>
                </ul>
            </li>
            <li><a href="#">Track your order</a></li>
        </ul>
    </nav>
    <header>
        <h1 class="logo"><a href="home.html">{{logo}}</a></h1>
        <div class="search">
            <form>
                <input type="text" placeholder="{{searchInput}}" />
                <button>
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button>
            </form>
        </div>
    </header>
    <section class="menu">
        <ul class="menu-links">

            <li>men
                <ul class="list-men">
                    <li>shop all</li>
                    <li>new arrivals</li>
                    <li>best sellers</li>
                    <li>smart watches</li>
                </ul>
            </li>
            <li>women
                <ul class="list-women">
                    <li>shop all</li>
                    <li>new arrivals</li>
                    <li>best sellers</li>
                    <li>smart watches</li>
                </ul>
            </li>
            <li>brands
                <ul class="list-brands">
                    <li>fossil</li>
                    <li>mk</li>
                    <li>dkny</li>
                    <li>Emporio Armani</li>
                </ul>
            </li>
            <li>gifts</li>
            <li>sale</li>
            <li class="menu-icon">
                <fa-icon [icon]="faBars"></fa-icon>
                <ul class="side-menu">
                    <li>men</li>
                    <li>women</li>
                    <li>brands</li>
                    <li>gifts</li>
                    <li>sale</li>
                    <li>track your order</li>
                    <li>ship to</li>
                    <li>contact</li>
                    <li>feedback</li>
                    <li>sign in</li>
                </ul>
            </li>
        </ul>
        <div class="icons">
            <a href="cart.html">
                <span class="icons">
                    <fa-icon [icon]="faCartShopping"></fa-icon>
                </span></a>
            <span class="icons">
                <fa-icon [icon]="faHeart"></fa-icon>
            </span>
        </div>
    </section>