* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-transform: capitalize;
}
body {
  font: 1.25em sans-serif;
}
/* grouping */
nav,
.menu,
header,
main,
footer {
  margin: 0 10px;
  padding: 0 20px;
}
