* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-transform: capitalize;
}

.page {
  display: grid;
  height: 100vh;
  background-color: #eee;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 50px 70px 50px auto 60px;
  grid-template-areas:
    "nav nav nav nav nav nav nav nav nav nav "
    " head head head head head head head head head head"
    "list list list list list list list list list list"
    "cont cont cont cont cont cont cont cont cont side"
    "foot foot foot foot foot foot foot foot foot foot";
}
nav {
  grid-area: nav;
}

header {
  grid-area: head;
}
section {
  grid-area: list;
}
aside {
  grid-area: side;
}
main {
  grid-area: cont;
}
footer {
  grid-area: foot;
}
/* grouping */
nav,
.menu,
header,
main,
aside,
footer {
  margin: 0 10px;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #2f2f2f;
  color: #eee;
}
nav .links {
  list-style: none;
  cursor: pointer;
  display: flex;
  /* align-content: center; */
  gap: 10px;
}
nav .links > li {
  padding: 10px;
  border: solid #222121 1px;
  border-top: none;
  border-right: none;
}
nav .links li:hover {
  background-color: #222121;
}

nav .text {
  display: flex;
  /* align-content: flex-start; */
}
nav .inline-list {
  list-style: none;
  display: flex;
  /* align-items: center; */
  cursor: pointer;
  gap: 10px;
}
nav .inline-list > li {
  position: relative;
  padding: 10px;
  border: solid #222121 1px;
  border-top: none;
  border-right: none;
}
nav .inline-list li:hover {
  background-color: #222121;
}

nav .inline-list ul {
  position: absolute;
  list-style: none;
  display: none;
  cursor: pointer;
  background-color: #6a2929;
  width: 100%;
  top: 100%;
  left: 0;
}

nav .inline-list li:hover ul {
  display: block;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  border: solid #2f2f2f 1px;
  border-radius: 5px;
  background-color: #6a2929;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  nav .links,
  nav .inline-list {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  section.menu li:not(:last-child) {
    display: none;
  }
}

/* @media screen and (max-width: 600px) {
  aside {
    display: flex;
  }
} */
.search form input {
  background-color: white;
  border: solid #6a2929 1px;
  border-left: none;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1rem;
}
.search form button {
  color: #2f2f2f;
  background-color: white;
  border: solid #6a2929 1px;
  border-right: none;
  border-radius: 4px;
  padding: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  float: left;
  text-align: center;
}
.menu {
  background-color: #2f2f2f;
  color: #eee;
  display: flex;
  justify-content: center;
}
.menu .menu-links {
  display: flex;
  justify-content: center;
  list-style: none;
  font-weight: bold;
  gap: 100px;
}
.menu .menu-links > li {
  border: solid #222121 1px;
  position: relative;
  margin: auto;
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
}
.menu .menu-links li:hover {
  background-color: #222121;
}
/* .menu .menu-links li::content {
  visibility: hidden;
} */
.menu .menu-links .list-men,
.list-women,
.list-brands {
  display: none;
  position: absolute;
  list-style: none;
  left: 0;
  top: 100%;
  background-color: #222121;
  font-weight: bold;
}
.menu .menu-links li:hover ul {
  display: block;
}
.menu .menu-links .list-men > li,
.list-women > li,
.list-brands > li {
  cursor: pointer;
  padding: 5px 10px;
}
.menu-icon {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  color: #6a2929;
  font-weight: bold;
  cursor: pointer;
}
/* @media screen and (min-width: 600px) {
  .menu .menu-icon {
    display: none;
  }
} */
.menu-icon .side-menu > li {
  top: 100%;
  padding: 10px;
  cursor: pointer;
}
.side-menu {
  display: none;
  list-style: none;
}
main {
  background-color: #eee;
}
aside {
  background-color: #6a2929;
  display: none;
}
footer {
  background-color: #2f2f2f;
}
footer a,
p {
  color: white;
  font-weight: bolder;
}
