<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="#">Home</a>
        <a class="breadcrumb-item text-dark" href="#">Shop</a>
        <span class="breadcrumb-item active">Checkout</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Start -->
<div class="container-fluid">
  <form [formGroup]="checkOutForm" (ngSubmit)="placeOrder()">

    <div class="row px-xl-5">
      <div class="col-lg-8">
        <h5 class="section-title position-relative text-uppercase mb-3">
          <span class="bg-secondary pr-3">Billing Address</span>
        </h5>


        <div class="bg-light p-30 mb-5">
          <div class="row">
            <div class="col-md-6 form-group">
              <label>First Name</label>
              <input class="form-control" type="text" placeholder="John" formControlName="firstName" />
              <ng-container *ngIf="checkOutForm.controls['firstName']?.touched">
                <span class="text-danger" *ngIf="checkOutForm.controls['firstName']?.errors?.['required']">Please enter
                  your first Name</span>
              </ng-container>
            </div>
            <div class="col-md-6 form-group">
              <label>Last Name</label>
              <input class="form-control" type="text" placeholder="Doe" formControlName="lastName" />

              <ng-container *ngIf="checkOutForm.controls['lastName']?.touched">
                <span class="text-danger" *ngIf="checkOutForm.controls['lastName']?.errors?.['required']">Please enter
                  your last Name</span>
              </ng-container>
            </div>
            <div class="col-md-6 form-group">
              <label>E-mail</label>
              <input formControlName="email" class="form-control" type="text" placeholder="example@email.com" />
              <ng-container *ngIf="checkOutForm.controls['email']?.touched">
                <span class="text-danger" *ngIf="checkOutForm.controls['email']?.errors?.['required']">Please enter your
                  email</span>
                <span class="text-danger" *ngIf="checkOutForm.controls['email']?.errors?.['email']">Please enter a valid
                  email </span>
              </ng-container>
            </div>
            <div class="col-md-6 form-group">
              <label>Mobile No</label>
              <input class="form-control" type="text" placeholder="+123 456 789" formControlName="mobile_number" />

              <ng-container *ngIf="checkOutForm.controls['mobile_number']?.touched">
                <span class="text-danger" *ngIf="checkOutForm.controls['mobile_number']?.errors?.['required']">Please
                  enter your phone Number</span>
              </ng-container>
            </div>



            <div class="col-md-6 form-group">
              <label>Address Line 1</label>
              <input class="form-control" type="text" placeholder="123 Street" formControlName="address1" />

              <ng-container *ngIf="checkOutForm.controls['address1']?.touched">
                <span class="text-danger" *ngIf="checkOutForm.controls['address1']?.errors?.['required']">Please enter
                  your address1</span>
              </ng-container>
            </div>



            <div class="col-md-6 form-group">
              <label>Address Line 2</label>
              <input class="form-control" type="text" placeholder="123 Street" formControlName="address2" />
              <ng-container *ngIf="checkOutForm.controls['address2']?.touched">
                <span class="text-danger" *ngIf="checkOutForm.controls['address2']?.errors?.['required']">Please enter
                  your address2</span>
              </ng-container>
            </div>



            <div class="col-md-6 form-group">
              <label>Country</label>
              <select formControlName="country" class="custom-select">
                <option selected>Egypt</option>
                <option>USA</option>
                <option>Algeria</option>
              </select>

              <ng-container *ngIf="checkOutForm.controls['country']?.touched">
                <span class="text-danger" *ngIf="checkOutForm.controls['country']?.errors?.['required']">Choose your
                  country</span>
              </ng-container>


            </div>

            <div class="col-md-6 form-group">
              <label>City</label>
              <input class="form-control" type="text" placeholder="New York" formControlName="city" />

              <ng-container *ngIf="checkOutForm.controls['city']?.touched">
                <span class="text-danger" *ngIf="checkOutForm.controls['city']?.errors?.['required']">Please enter your
                  city</span>
              </ng-container>

            </div>


            <div class="col-md-6 form-group">
              <label>State</label>
              <input class="form-control" type="text" placeholder="New York" formControlName="state" />
              <ng-container *ngIf="checkOutForm.controls['state']?.touched">
                <span class="text-danger" *ngIf="checkOutForm.controls['state']?.errors?.['required']">Please enter your
                  State</span>
              </ng-container>
            </div>


            <div class="col-md-6 form-group">
              <label>ZIP Code</label>
              <input class="form-control" type="text" placeholder="123" formControlName="zip_code" />

              <ng-container *ngIf="checkOutForm.controls['zip_code']?.touched">
                <span class="text-danger" *ngIf="checkOutForm.controls['zip_code']?.errors?.['required']">Please enter
                  ZIP Code</span>
              </ng-container>
            </div>



            <div class="col-md-12 form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="newaccount" />
                <label class="custom-control-label" for="newaccount">Create an account</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="shipto" />
                <label class="custom-control-label" for="shipto" data-toggle="collapse"
                  data-target="#shipping-address">Ship to different address</label>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse mb-5" id="shipping-address">
          <h5 class="section-title position-relative text-uppercase mb-3">
            <span class="bg-secondary pr-3">Shipping Address</span>
          </h5>
          <div class="bg-light p-30">
            <div class="row">
              <div class="col-md-6 form-group">
                <label>First Name</label>
                <input class="form-control" type="text" placeholder="John" />
              </div>
              <div class="col-md-6 form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" placeholder="Doe" />
              </div>
              <div class="col-md-6 form-group">
                <label>E-mail</label>
                <input class="form-control" type="text" placeholder="example@email.com" />
              </div>
              <div class="col-md-6 form-group">
                <label>Mobile No</label>
                <input class="form-control" type="text" placeholder="+123 456 789" />
              </div>
              <div class="col-md-6 form-group">
                <label>Address Line 1</label>
                <input class="form-control" type="text" placeholder="123 Street" />
              </div>
              <div class="col-md-6 form-group">
                <label>Address Line 2</label>
                <input class="form-control" type="text" placeholder="123 Street" />
              </div>
              <div class="col-md-6 form-group">
                <label>Country</label>
                <select class="custom-select">
                  <option selected>United States</option>
                  <option>Afghanistan</option>
                  <option>Albania</option>
                  <option>Algeria</option>
                </select>
              </div>
              <div class="col-md-6 form-group">
                <label>City</label>
                <input class="form-control" type="text" placeholder="New York" />
              </div>
              <div class="col-md-6 form-group">
                <label>State</label>
                <input class="form-control" type="text" placeholder="New York" />
              </div>
              <div class="col-md-6 form-group">
                <label>ZIP Code</label>
                <input class="form-control" type="text" placeholder="123" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <h5 class="section-title position-relative text-uppercase mb-3">
          <span class="bg-secondary pr-3">Order Total</span>
        </h5>
        <div class="bg-light p-30 mb-5">
          <div class="border-bottom">
            <h6 class="mb-3">Products</h6>
            <div class="d-flex justify-content-between" *ngFor="let c of cartLines">
              <p>{{ c.product.name }} x {{ c.quantity }}</p>
              <p>{{ c.price * c.quantity | currency }}</p>
            </div>
          </div>
          <div class="border-bottom pt-3 pb-2">
            <div class="d-flex justify-content-between mb-3">
              <h6>Subtotal</h6>
              <h6>{{getSubTotal() | currency}}</h6>
            </div>
            <div class="d-flex justify-content-between">
              <h6 class="font-weight-medium">Shipping</h6>
              <h6 class="font-weight-medium">{{getShipping() | currency}}</h6>
            </div>
          </div>
          <div class="pt-2">
            <div class="d-flex justify-content-between mt-2">
              <h5>Total</h5>
              <h5>{{getTotal() | currency}}</h5>
            </div>
          </div>
        </div>
        <div class="mb-5">
          <h5 class="section-title position-relative text-uppercase mb-3">
            <span class="bg-secondary pr-3">Payment</span>
          </h5>
          <div class="bg-light p-30">
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment" id="paypal" />
                <label class="custom-control-label" for="paypal">Paypal</label>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment" id="directcheck" />
                <label class="custom-control-label" for="directcheck">Direct Check</label>
              </div>
            </div>
            <div class="form-group mb-4">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="payment" id="banktransfer" />
                <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
              </div>
            </div>
            <button [disabled]="!checkOutForm.valid" type="submit"
              class="btn btn-block btn-primary font-weight-bold py-3">
              Place Order
            </button>
          </div>
        </div>
      </div>

    </div>
  </form>

</div>
<!-- Checkout End -->