<main>
    <div class="cont">
        <div class="img">
            <img
                src="https://www.watchstation.com/on/demandware.static/-/Library-Sites-WatchStationSharedLibrary/default/dwa9c262b9/2022/HO22/set_1017_nam/hp/Desktop_Story1.jpg" />
            <div class="img-text">
                <h2 class="head">MK GEN 6 CAMILLE SMARTWATCH</h2>
            </div>
        </div>
        <div class="img2">
            <img
                src="https://www.fossil.com/on/demandware.static/-/Library-Sites-FossilSharedLibrary/default/dw459637ca/2022/HO22/set_1107_global/_hp/1107_HO22_Homepage_Hero4_Image5_Desktop.jpg" />
        </div>
        <div class="img3">
            <img
                src="https://www.watchstation.com/on/demandware.static/-/Library-Sites-WatchStationSharedLibrary/default/dwd3c0aba6/2022/SU22/set_0630_global_btq/Slices/EA/EA_Story_Desktop_Slice2_2x.jpg" />
            <div class="inline-text">
                <div>SUSTAINABLE IN STYLE</div>
                <span>
                    <a href="#">men</a>
                    <a href="#">women</a>
                </span>
            </div>
        </div>
        <div class="img4">
            <img
                src="https://www.watchstation.com/on/demandware.static/-/Library-Sites-WatchStationSharedLibrary/default/dw8dfc6ea4/2022/SU22/set_0630_global_btq/Slices/EA/EA_Story_Desktop_Slice1_2x.jpg" />
        </div>

    </div>
    <hr>
    <section>
        <h2 class="title">discover</h2>
        <div class="discover">
            <div class="edit">
                <img src="https://fossil.scene7.com/is/image/FossilPartners/AR11480_main?$sfcc_fos_large$" />
                <button class="mini-btn" type="button" onclick="addToCart({id:1,productName:'prod-1', price:150})">ADD
                    TO
                    CART</button>
            </div>
            <div class="edit">
                <img src="https://fossil.scene7.com/is/image/FossilPartners/FTW7064_main?$sfcc_fos_large$" />
                <button class="mini-btn" type="button" onclick="addToCart({id:2,productName:'prod-2', price:150})">ADD
                    TO
                    CART</button>
            </div>
            <div class="edit">
                <img src="https://fossil.scene7.com/is/image/FossilPartners/AX2719_main?$sfcc_fos_large$" />
                <button class="mini-btn" type="button" onclick="addToCart({id:3,productName:'prod-3', price:150})">ADD
                    TO
                    CART</button>
            </div>
            <div class="edit">
                <img src="https://fossil.scene7.com/is/image/FossilPartners/FS5251SET_main?$sfcc_fos_large$" />
                <button class="mini-btn" type="button" onclick="addToCart({id:4,productName:'prod-4', price:150})">ADD
                    TO
                    CART</button>
            </div>
        </div>
    </section>
</main>