* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-transform: capitalize;
}
nav {
  background-color: #2f2f2f;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
}
.list li {
  list-style: none;
  position: relative;
  /* display: inline-block;
  color: azure;
  font-weight: bold;
  padding: 10px;
  border: solid #222121 1px;
  border-top: none;
  border-left: none; */
}
.list li:hover {
  background-color: #222121;
  cursor: pointer;
}
.list li:hover ul {
  display: block;
  background-color: #2f2f2f;
  display: block;
}

.list > li {
  display: inline-block;
  color: azure;
  font-weight: bold;
  padding: 10px;
  border: solid #222121 1px;
  border-top: none;
  border-left: none;
}
/* .list > li {
  display: inline-block;
} */
.list ul {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  border: solid #222121 1px;
  border-top: none;
  border-left: none;
  text-align: center;
}

footer {
  margin: 5px;
  background-color: #2f2f2f;
  padding: 10px;
}
footer a {
  color: rgb(209, 204, 204);
  font-weight: bolder;
  margin-left: 5%;
  margin-right: 5%;
}
footer p {
  color: rgb(248, 236, 236);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}
