* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-transform: capitalize;
}
body {
  position: relative;
}
.menu {
  background-color: #2f2f2f;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.menu .links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.menu .links a {
  color: azure;
  font-weight: bold;
  border: solid #222121 1px;
  border-top: none;
  border-right: none;
  padding: 10px;
}
.menu .text {
  color: azure;
  text-decoration: underline;
  font-weight: bold;
  display: flex;
}

.menu .list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .list > li {
  color: azure;
  font-weight: bold;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: solid #222121 1px;
  border-top: none;
  border-left: none;
}
.list li:hover {
  background-color: #222121;
  cursor: pointer;
}
.list li:hover ul {
  display: block;
  background-color: #2f2f2f;
}
.links a:hover {
  background-color: #222121;
}

.menu .list ul {
  display: none;
  list-style: none;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  left: 0;
  top: 100%;
  border: solid #222121 1px;
  border-top: none;
  border-left: none;
  text-align: center;
}
header {
  background-color: white;
  border: solid #222121 1px;
  border-left: none;
  border-right: none;
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
}
header .logo {
  border: solid #2f2f2f 1px;
  background-color: #6a2929;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}
header .logo a {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

.Search {
  display: flex;
  align-items: center;
}
.Search input {
  background-color: white;
  border: solid #6a2929 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1rem;
}
.Search form input:focus {
  border: solid #6a2929 1px;
  outline: 0;
}

.Search button {
  color: #2f2f2f;
  background-color: #6a2929;
  border: solid #6a2929 1px;
  padding: 5px;
  font-weight: bold;
  font-size: 1rem;
  border-left: none;
  cursor: pointer;
  float: left;
  text-align: center;
}
.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #6a2929;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.main-menu .menu-icon {
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.main-menu .icons {
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.main-menu > .main-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-menu .main-links > li > a {
  font-weight: bold;
  color: white;
  border: solid #6a2929 1px;
  border-top: none;
  border-right: none;
  padding: 10px;
}
.main-menu .cart {
  color: white;
}
/* body {
  position: relative;
} */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2f2f2f;
  color: white;
  padding: 10px;
}
footer a {
  color: white;
  font-weight: bolder;
}
footer p {
  color: white;
  font-size: x-small;
}
